@font-face {
    font-family: "BYekan";
    src: url('../fonts/yekan/BYekan-webfont.ttf') format('truetype'),
    url('../fonts/yekan/BYekan-webfont.eot') format('eot'),
    url('../fonts/yekan/BYekan-webfont.woff') format('woff');
    font-weight: normal;
}
*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
    
}
a{
    text-decoration: none;
}
body{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #eee;
}
.sidebar-nav{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)),
    url('../image/card-image-4.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.sidebar-nav a{
    transition: 0.3s;
    
}
.sidebar-nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scaleY(1.2);
}
.sidebar-nav a.active{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scaleY(1.2);
}
.top-navbar{
    background-color: rgba(0, 0, 0, 0.9);
}
.input-search{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    outline: none;
    border-radius: 0;
    transition: 0.4s;
    margin-right: 5px;
}
.input-search:focus{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid red;
    box-shadow: none;
    
}
.button-search{
    margin-left: 5px;
    border-radius: 50% !important;
}
.button-search:hover{
    background-color: rgb(172, 164, 164);
    border-radius: 50%;
    color: black;
}
@media(max-width:768px){
    .top-navbar{
        position: static;
    }
    .sidebar-nav{
        position: static;
        text-align: center;
        height: auto;
    }
    .sidebar-nav a{
       padding-right: 0.5rem;
    }
}


/* cardcontent */
#cardcontent > .row{
    /* margin-left: 0px !important; */
}
.wrap-card{
    box-shadow: -2px 5px 5px #999;
    transition: 0.4s;
}
.wrap-card:hover{
    box-shadow: 2px -2px 5px #999;
    transform: translateY(1px);
}
/* end cardcontent */